body {
  font-family: 'Shippori Mincho B1', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  /*div {*/
 /* opacity: 0.5;*/
/*}*/
 /*background: url(d2.jfif) no-repeat center center fixed; */

 /*background: 
*/ /*opacity: 0.5;*/

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*img{
	opacity: 0.9;
}*/



body{
	background-image: opacity: 0.5;
}

h1{
	font-size: 6rem;
	color: white;
}
h4{
	font-size: 2rem;
	color:white;
}
hr{
	border-color:green;
	border-width:3;
	max-width: 65px;
}

.btn{
	font-weight:700;
	border-radius:300px;
	text-transform: uppercase;
}




.btn-primary{
	background-color: red;
border-color:red;
}

.btn-primary: hover{
	background-color: pink;
	background-color: pink;
	border-width: 4px;
}

.btn-xl{
	padding: 1rem 2rem;
}


.mycontainer img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.5;
}